body{
   background: #CED0CE;
   height: 1000px;
 }
 
 #p1{
   text-align: center;
   font-size: 25px;
   background: #f0f;
   color: #fff;
   padding: 3%;
   margin: 0;
 }
 
 #p2{
   text-align: center;
   font-size: 25px;
   position: fixed;
   top: 200px;
   width:100%;
   display: none;
 }
 
 button{
   position: fixed;
   bottom: 20px;
   left: 47%;
   width: 5%;
   height: 50px;
   border: none;
   background: #202C39;
   font-size: 25px;
   color: #fff;
   outline: none;
   cursor: pointer;
   display: none;
 }
 
 
 